<div class="site-footer__widget footer-contacts">

    <div class="footer-contacts__text" [innerHTML]="settings.description">
    </div>

     <ul class="footer-contacts__contacts">
        <li><i class="footer-contacts__icon fas fa-globe-americas"></i> Bâtiment B21, 1er étage, Technopôle El Ghazela ,2088 Route de Raoued Ariana </li>
        <li><i class="footer-contacts__icon far fa-envelope"></i>Service Commercial : commercial@iot-store.com</li>
        <li><i class="footer-contacts__icon far fa-envelope"></i>Support technique : technique@iot-store.com</li>
        <li><i class="footer-contacts__icon fas fa-mobile-alt"></i> Tél: +216 98 40 22 55 / +216 95 50 27 45 </li>
        <li><i class="footer-contacts__icon fas fa-mobile-alt"></i> Fax: +216 73 26 38 05 </li>
    </ul> 
</div>
